.search {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    border: 0;
    flex-grow: 1;
    background-color: #444;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.25s;
    padding: 0 16px;
    &:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    }
}

@media (prefers-color-scheme: light) {
    .search {
        background-color: #f9f9f9;
        color: #333;
    }
}
