.wrapper {
    padding: 64px 16px;
    margin: 0 auto;
    max-width: 1280px;
}

.title {
    font-size: 48px;
    margin-bottom: 64px;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 16px;
    margin-bottom: 24px;
}
